@media( max-width: 1199px ) {
	.bg-num_small {
		&:before {
			left: 10px;
      top: 13px;
		}
		&:after {
			top: 25px;
      left: 65px;
      transform: rotate(65deg);
		}
	}

	.portfolio {
		&__item {
			max-width: 310px;
			margin-bottom: 14px;
		}
	}

	.team {
		&__img {
			height: 236px;
		}

		&__text {
			margin-right: 20px;
		}

		&__social {
			padding: 20px 20px;
		}
	}

	.work {
		&__img {
			max-width: 100%;

		}

		&__item {
			max-width: 400px;
    	padding: 80px 40px 0 50px;
		}
	}

	.price {
		&__item{
    	max-width: 300px;
			&:hover {
				box-shadow: none;
			}
		}
		&__list {
			li {
      	margin-bottom: 20px;
			}
		}
	}

	.testimonials {
		&__img {
			width: 320px;
		}
		&__content {
			width: 640px;
			height: 290px;
	    padding: 20px 20px 0px 20px;
		}
		&__text {
	    margin-bottom: 30px;
		}
	}

	.choice {
		&__text {
			font-size: 14px;
		}
	}

	.blog {
		&__left-column {
	    .blog__item {
	      width: 100%;
	      margin-top: 75px;
	    }
	  }

		&__img {
			width: 100%;
			height: 391px;
		}

		&__item {
    	padding: 15px;
		}
	}

	.get-in-touch {
		input[type="text"] {
			width: 48%;
		}
	}
}

@media (max-width: 991px ) {
	.title {
		font-size: 45px;
	}

	.bg-num_small {
		&:before {
      font-size: 20px;
      line-height: 20px;
			left: 5px;
      top: 5px;
		}
		&:after {
      width: 1px;
      height: 79px;
			top: -10px;
      left: 30px;
      transform: rotate(50deg);
		}
	}

	.header {
	  height: 90px;

		&__logo {
			padding: 0 50px;
			text-align: center;
		}

		.line {
			display: flex;
			margin: 5px auto 0;
			width: 45%;
			height: 1px;
			background: gray;
		}

		&__nav {
			margin-top: 5px;
		}
	}
	
	.promo {
		padding-top: 150px;
		height: 700px;
		&__item {
    	font-size: 17px;
  	}
	}

	.about-us {
		&__img {	
	    width: 450px;
	    height: 567px;
		}

		&__content {
	    max-width: 500px;
	    padding: 30px 31px;
	    text-align: center;

	    .title {
	    	width: 88%;
				text-align: center;
			}

	    p {
		    font-size: 13px;
	    }
		}
	}

	.focus {
		padding: 50px 0;
		&__items {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__item {
			margin-bottom: 50px;
			max-width: 100%;
    	padding: 35px 18px;
		}

		&__img,
		&__title {
			margin-bottom: 15px;
		}
	}

	.portfolio {
		padding: 50px 0;
		&__items {
			justify-content: space-around;
		}

		&__item {
			margin-bottom: 45px;
		}
	}

	.team {
		padding: 50px 0;
		&__img {
			height: 174px;
		}

		[class^="offset"] {
			width: 100%;
		}

		&__content {
	    padding: 35px 0;
		}

		&__person {
			text-align: center;
		}

		&__wrapper {
		  display: flex;
		  flex-direction: column;
		  width: 100%;
		  text-align: center;
		}

		&__pointer {
			width: 180px;
		}

		&__text {
			margin: 0;
			margin-bottom: 15px;
		}

		&__social {
			display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    width: 450px;
	    margin-top: 20px;
	    padding: 10px 0;
	    border-left: none;
	    border-top: 1px solid #707070;
	    list-style-type: none;
		}
	}

	.stats {
		&__item {
			transform: scale(.8);
		}
	}

	.work {
		padding: 50px 0 230px;

	  &__item {
			max-width: 300px;
	    height: 200px;
    	padding: 30px 20px 0 30px;

	    &:nth-child(3) {
	      margin-top: 71px;   
	    }&:nth-child(4) {
	      margin-top: 372px;
	    }
	  }

	  &__title {
	  	font-size: 20px;
	  	margin-bottom: 15px;
	  }

	  &__text {
	  	font-size: 13px;
	  }
	}

	.price {
		padding: 50px 0;
		&__items {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__item {
			margin-bottom: 30px;
			max-width: 220px;

			.button {
			  width: 150px;
			  height: 40px;
			  line-height: 40px;
			}
		}

		&__list {
			li {
	      font-size: 13px;
			}
		}
	}

	.testimonials {
		padding: 50px 0;

		.row {
			justify-content: center;
		}

		.container {
			margin-top: 130px;
		}

		&__img {
			width: 384px;
			margin-bottom: 25px;
		}

		&__content {
			width: 100%;
			height: 225px;
	    padding: 10px 10px 0px 10px;
		}

		&__text {
	    margin-bottom: 15px;
		}

		&__name {
	    margin-bottom: 10px;
	    font-size: 30px;
	    line-height: 30px;
	  }

	  &__tabs {
	    bottom: -25px;
	  }
	}

	.choice {
		padding: 50px 0;
		&__item {
			text-align: center;
		}

		&__title {
			justify-content: center;
		}

		&__button {
			margin-top: 0px;
		}

		&__button {
	  	font-size: 19px;
	  	.button {
	  		width: 150px;
	  		height: 45px;
	  		line-height: 45px;
	  	}
	  }
	}

	.blog {
		padding: 50px 0;
		&__img {
			width: 555px;
			margin: 0 auto;
		}

		&__left-column {
	    .blog__item {
	    	width: 555px;
	      margin: 23px auto 0;
	    }
	  }

		&__articles {
			margin-top: 23px;
			justify-content: center;
		}

	  &__item {
	  	width: 555px;
    	height: 190px;
	  }
	}

	.subscribe {
		padding: 50px 0;
	}

	.get-in-touch {
  	height: 1000px;
		padding: 50px 0;
		&__footer {
			margin-top: 50px;
		}
		&__logo {
			img {
				width: 80px;
			}
		}
		&__address {
		  font-size: 12px;
		  span {
		    font-weight: 500;
		  }
		}
		&__social {
			font-size: 12px;
			img {
				width: 23px;
			}
		}
	}
}

@media ( max-width: 767px ) {
	.subtitle {
		font-size: 15px;
	}

	.bg-num {
		&:before {
			top: -30px;
	    font-size: 200px;
		}

		&_small {
	    &:before {
	      font-size: 20px;
	      line-height: 20px;
				left: 5px;
	      top: 5px;
			}
			&:after {
				display: none;
			}
	  }
	}

	.button {
		width: 150px;
		height: 45px;
		line-height: 45px;
		font-size: 14px;
	}

	.header {  
  	height: 75px;

		.row {
			justify-content: space-between;
		}

		&__nav, .line {
			display: none;
		}

		&__logo {
			padding: 0;
			a {
				display: block;
			}
		}

		.burger {
      position: relative;
      display: flex;
      width: 25px;
      height: 20px;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: .2s all;
        background: #444;
        &:nth-child(1) {
          transform: translateY(-6px);
        }
        &:nth-child(3) {
          transform: translateY(4px);
        }
      }

      &_active {
        span {
          &:nth-child(2) {display: none;}
          &:nth-child(1) {transform: rotate(45deg);}
          &:nth-child(3) {transform: rotate(-45deg);}
        }
      }
    }

    .sidebar {
    	position: absolute;
    	left: 0;
    	top: 0;

    	display: flex;
    	flex-direction: column;
    	justify-content: center;

    	width: 35%;
    	height: 100vh;
    	transform: translateX(-100%);
    	transition: .2s all;

    	background: rgba(0, 0, 0, .8);
    	text-align: center;

    	a {
    		color: #FFF;
    		margin: 0 40px;
    		padding: 13px 0;
    		border-bottom: 1px solid #FFF;
    		&:last-child {
    			border: none;
    		}
    	}

    	&_active {
    		transform: translateX(0);
    	}
    }
	}

	.promo {
		&__title {
			font-size: 45px;
			line-height: 65px;
		}

		.button {
			margin-bottom: 50px;
		}

		&__items {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;
			transform: scale(.8);
			&:nth-child(2) {
				order: 1;
				margin: 20px auto 0;
			}
		}
	}

	.about-us {
		padding: 50px 0;
		.row {
			flex-direction: column;
		}

		&__img {
			width: 300px;
			height: 378px;
		}

		&__content {
			margin-top: 400px;
			&:before {
				top: -65px;
			}
		}
	}

	.focus {
		&__title {
			font-size: 18px;
		}

		&__text {
			font-size: 13px;
		}
	}

	.video {
		padding: 75px 0;
		height: 350px;
	}

	.portfolio {
		&__item {
			width: 45%;
		}
	}

	.team {
		&__img {
			height: 128px;
		}

		&__name {
			font-size: 14px;
		}

		&__position {
			font-size: 12px;
		}

		&__content {
			padding: 25px 0;
		}

		&__pointer {
			width: 135px;
		}

		&__text {
			max-width: 94%;
			font-size: 13px;
		}

		&__social {
			li a {
				font-size: 13px;
			}
		}
	}

	.work {
		&__img {
			height: auto;
		}

		&__item {
			max-width: 45%;
			height: 180px;
			padding: 25px 25px 0 15px;

			&:nth-child(2) {
				margin-top: 255px;
			}
			&:nth-child(3) {
				margin-top: 130px;
			}
			&:nth-child(4) {
				margin-top: 430px;
			}
		}

		&__title {
			font-size: 16px;
		}

		&__text {
			line-height: 20px;
		}
	}

	.price {
		padding: 35px 0;
		&__item {
			padding: 20px 0;
		}

		&__title {
			margin-bottom: 15px;
		}

		&__num {
			width: 90px;
			height: 90px;
			margin-bottom: 20px;
			.price__circle{
				span {
					font-size: 22px;
				}
				p{
					display: none;
				}
			}
		}

		&__list {
			li {
				margin-bottom: 10px;
				font-size: 12px;
				display: flex;
				align-items: center;
				img {
					width: 13px;
				}

				&:last-child {
					margin-bottom: 15px;
				}
			}
		}

		.button {
			width: 130px;
			height: 35px;
			line-height: 35px;
			font-size: 13px;
		}
	}

	.testimonials {
		&__img {
			width: 300px;
		}

		&__text {
			font-size: 13px;
		}

		&__name {
			font-size: 28px;
		}

		&__fullname {
			font-size: 16px;
		}
	}

	.choice {
		&__title {
			margin-bottom: 20px;
		}

		&__text {
			font-size: 13px;
			line-height: 22px;
		}
	}

	.blog {
		&__left-column{
			.blog__item {
				width: 510px;
			}
		}
	}

	.subscribe {
		form {
			input[type="text"] {
				padding: 8px 30px;
			}
		}
	}

	.get-in-touch {
		&__footer {
			flex-wrap: wrap;
			height: 240px;
		}

		&__item {
			&:nth-child(1) {
				width: 100%;
				margin: 10px 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				width: 50%;
				margin-bottom: 20px;
				text-align: center;
			}

			&:nth-child(4) {
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media( max-width: 575px ) {
	.header {
		.row {
			padding: 0 15px;
		}
	}

	.portfolio {
		&__item {
			width: 100%;
		}
	}

	.team {
		&__items {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			max-width: 65%;
			margin: 25px;
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__img {
			width: 263px;
			height: 270px;
		}

		&__content {
			display: none;
		}
	}

	.stats {
		height: 500px;
		padding: 50px 0;

		&__items {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;
		}
	}

	.work {
		&__text {
			font-size: 11px;
		}
	}

	.testimonials {
		padding: 50px 15px;

		&__text {
			font-size: 12px;
		}

		&__fullname {
			min-width: 0;
		}
	}

	.choice {
		&__text {
			margin: 0 auto;
		}
	}

	.blog {
		&__img {
			width: 95%;
		}

		.blog__left-column {
			.blog__item	 {
				width: 95%;
			}
		}

		&__item {
			width: 95%;
		}
	}

	.subscribe {
		input[type="text"] {
			width: 60%;
		}
		input[type="submit"] {
			width: 40%;
		}
	}

	.get-in-touch {
		height: 1278px;
		form {
			input[type="text"] {
				width: 100%;
			}
		}

		&__footer {
			height: 270px;
		}
	}
}

@media ( max-width: 530px ) {
	.title {
		font-size: 35px;
	}

	.subtitle {
		font-size: 13px;
		margin-top: 60px;
	}

	.header {
		.sidebar {
			width: 45%;
		}
	}

	.promo {
		height: 800px;
		&__title {
			font-size: 34px;
		}

		&__item {
			width: 100%;
		}
	}

	.team {
		&__item {
			max-width: 55%;
			padding: 15px 0;
		}
	}

	.testimonials {
		&__text {
			line-height: 22px;
		}
	}
	
	.work {
		height: 1850px;
		&__photos {
			padding-top: 400px;
		}

		&__img {
			margin-bottom: 20px;
		}

		&__content {
			justify-content: space-around;
		}

		&__item {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin: 0;
				margin-bottom: 20px;
			}
		}
	}

	.blog {
		&__date {
			span {
				font-size: 13px;
			}
		}

		&__title {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&__text {
			font-size: 13px;
			line-height: 22px;
		}
	}
}

@media ( max-width: 500px ) {

	.about-us {
		p {
			font-size: 12px;
			&:nth-child(2) {
				margin-top: 75px;
			}
		}
	}

	.focus,
	.portfolio,
	.team,
	.work,
	.price,
	.choice,
	.blog,
	.get-in-touch{
		.container {
			margin-top: 130px;
		}
	}

	.video {
		 &__title {
		 	font-size: 23px;
		 }
	}

	.portfolio {
		padding-bottom: 0;
	}

	.team {
		&__item {
			padding-top: 0;
		}

		&__img {
			max-width: 100%;
			height: auto;
		}
	}

	.work {
		height: 1700px;

		&__item {
			height: 220px;
		}

		&__photos {
			padding-top: 500px;
		}
	}


	.choice {
		&__button {
			font-size: 15px;
			.button {
				width: 135px;
				height: 40px;
				line-height: 40px;
			}
		}
	}

	.blog {
		&__img {
			height: auto;
		}
	}

	.get-in-touch {
		&__footer {
			height: 300px;
		}
	}

	.scrolltotop {
	  bottom: 25px;
	  right: 25px;
	}
}

@media ( max-width: 440px ) {
	.about-us {
		&__content {
			padding: 30px 5px;
		}
	}

	.work {
		height: 1960px;
		&__item {
			max-width: 70%;
			height: 170px;
			margin-bottom: 20px;
		}

		&__photos {
			padding-top: 750px;
		}
	}

	.testimonials {
		&__content {
			height: 250px;
		}
	}

	.blog {
		&__item {
			height: 220px;
		}
	}
}

@media ( max-width: 420px ) {
	.work {
		height: 1930px;
	}

	.choice {
		&__button {
			font-size: 14px;
		}
	}

	.subscribe {
		form {
			width: 95%;
			input[type="text"] {
				font-size: 14px;
			}
			.button {
				font-size: 12px;
			}
		}
	}

	.scrolltotop {
		width: 45px;
		height: 45px;

	  bottom: 20px;
	  right: 20px;
	}
}

@media ( max-width: 381px ) {
	.header {
		.sidebar {
			width: 50%;
			.header__link {
				font-size: 12px;
			}
		}
	}

	.promo {
		height: 850px;
	}

	.work {
		height: 1850px;
	}

	.testimonials {
		&__content {
			height: 275px;
		}
	}
}

@media ( max-width: 340px ) {
	.focus {
		padding-bottom: 0;
	}

	.work {
		height: 1800px;
	}

	.testimonials {
		&__text {
			line-height: 19px;
		}

		&__content {
			height: 280px;
		}
	}

	.choice {
		&__button {
			font-size: 12px;
			.button {
				width: 100px;
				height: 35px;
				line-height: 35px;
				font-size: 12px;
			}
		}
	}

	.blog {
		&__item {
			height: 245px;
		}
	}

	.subscribe {
		&__title {
			font-size: 24px;
		}
	}

	.get-in-touch {
		&__address {
			font-size: 10px;
		}
	}
}